* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

nav {
  background-color: transparent;
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 0;
  position: fixed;
  z-index: 2;
}

nav ul {
  flex: 1;
  text-align: center;
  padding: 10px 30px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
}
nav ul li a {
  font-size: 20px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  position: relative;
}

nav ul li a:hover {
  color: rgb(49, 64, 114);
}

nav ul li a::after {
  content: " ";
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translate(-50%);
  background: rgb(49, 64, 114);
  transition: width 0.3s;
  border-radius: 1px;
}

section {
  background-color: rgb(202, 198, 193);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.search-wrapper {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.main-content {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: rgb(185, 102, 46);
}

.main-content p {
  font-size: 50px;
  font-weight: 600;
}

.main-content h1 {
  font-size: 100px;
  font-weight: 800;
  line-height: 100px;
  color: transparent;
  -webkit-text-stroke: 1px white;
  background: url(images/back.png);
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
  margin-bottom: 30px;
}
@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}

.main-content h3 {
  font-size: 40px;
  font-weight: 600;
}

.main-content input {
  color: rgb(52, 60, 87);
  margin: 20px;
  padding: 10px 20px;
  width: 300px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 30px;
  background-color: transparent;
}

.main-content input:hover {
  border: 2px solid rgb(255, 255, 255);
}

.main-content input:focus {
  outline: none;
}

.main-content button {
  color: white;
  font-weight: 600;
  width: 100px;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 30px;
  background-color: transparent;
}

.main-content button:hover {
  font-weight: 600;
  color: white;
  background-color: rgb(49, 64, 114);
  border: 2px solid rgb(49, 64, 114);
}

.result-wrapper {
  width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: center;
}

#result-group {
  max-width: 1000px;
  padding: 30px;
  display: flex;
  align-items: center;
}

.card-group {
  display: flex;
}

.top-pick-wrapper {
  display: flex;
  flex-direction: column;
}

.top-pick-container h3 {
  margin: 30px;
  text-align: center;
  font-weight: 600;
  color: rgb(185, 102, 46);
}

.top-pick {
  max-width: 1400px;
  display: flex;
  overflow-x: scroll;
}
.top-pick::-webkit-scrollbar {
  height: 12px;
  width: 10px;
}

.top-pick::-webkit-scrollbar-track {
  border: 1px solid white;
  border-radius: 10px;
}

/* Handle */
.top-pick::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

/* Handle on hover */
.top-pick::-webkit-scrollbar-thumb:hover {
  background: rgb(49, 64, 114);
}

.myCard {
  width: 250px;
  height: 500px;
  overflow: hidden;
  padding: 10px;
  margin: 10px;
}

.myCard:hover {
  box-shadow: 0px 5px 10px rgb(182, 170, 161);
}

.myCard h5 {
  color: rgb(185, 102, 46);
  font-size: 18px;
  font-weight: 600;
}

.myCard p {
  color: rgb(100, 94, 89);
}

.myCard img {
  width: auto;
  height: 300px;
  object-fit: cover;
  border: 1px solid rgb(204, 196, 179);
}

.myCard a {
  text-decoration: none;
  color: rgb(182, 170, 161);
}

.myCard a:hover {
  color: rgb(49, 64, 114);
}

.contact {
  padding: 20px;
  color: white;
  width: 600px;
  border: 2px solid white;
  border-radius: 30px;
  margin: 30px;
}

.contact-text {
  color: rgb(185, 102, 46);
  text-align: center;
  font-weight: 600;
}

.contact-form {
  color: rgb(185, 102, 46);
  padding-top: 20px;
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Roboto Mono";
  border-top: 2px solid rgb(185, 102, 46);
}

.contact-form input {
  color: rgb(49, 64, 114);
}

.contact-form textarea {
  color: rgb(49, 64, 114);
}

.form-control {
  margin: 10px 0;
}

.contact-form button {
  color: rgb(185, 102, 46);
  background-color: white;
  border: none;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  border-radius: 20px;
}

.contact-form button:hover {
  background-color: rgb(49, 64, 114);
  color: white;
}

.footer-wrapper {
  padding-top: 50px;
  color: white;
  width: 100%;
  height: 300px;
  background-color: rgb(202, 198, 193);
  display: flex;
  justify-content: space-around;
}

.column {
  display: flex;
  flex-direction: column;
}

.column a {
  text-decoration: none;
  color: white;
  padding: 5px;
  font-weight: 500;
  font-size: 20px;
}

.column a:hover {
  color: rgb(49, 64, 114);
}

.column .icon {
  font-size: 28px;
  color: white;
}

.column .icon:hover {
  color: rgb(49, 64, 114);
}
